
.form-control {
	height: 30px;
	padding: 6px 10px;
	border: none;
	border-radius: 2px;
}

.btn {
	letter-spacing: 0;
	background: #1A1A1A;
	border: none;
	color: #FFF;
	border-radius: 2px;
	border: none;
	transition: 0.3s all ease;
}

.btn:hover {
	background: #050505;
	color: #007FFF;
	transition: 0.3s all ease;
}

.library-search-button {
	padding: 5px 10px;
}

.library-search-button:hover {
	background: #030202;
}



/*_________ Player __________*/

#headerwrap h1 {
	font-size: 8vh;
}

#headerwrap h2 {
	font-size: 5vh;
	color: #8D8C8C;
}

.mpd-bar {
	background: #585858;
}

.more-song-info {
	font-family: 'Roboto', sans-serif;
}

.control {
	padding: 3vh;
}

.play-controls i,
.play-options i {
	color: #FFF;
	transition: color ease 0.3s;
}

.play-controls i:hover,
.play-options i:hover {
	color: #007FFF;
	transition: color ease 0.3s;
}

div.progress {
	background: #1A1A1A;
}

.volume-holder i {
	color: #585858;
}


/*__________ Menu __________*/

.menu {
	z-index: 0;
	transition: none;
}

.menu-open {
	z-index: 10;
}

.menu-wrap {
	background: rgba(0,0,0,0.8);
}

#menuToggle {
	background: rgba(0,0,0,0.8);
	position: fixed;
	right: 20px;
	border-radius: 1px;
}

#menuToggle.active {
	margin-right: 100px;
}

#menuToggle:hover {
	background: rgba(0,0,0,0.4);
	transition: background ease 0.3s;
}

#menuToggle:hover i {
	color: #007FFF;
}

.menu a,
.menu i {
	color: #FFF;
	transition: color ease 0.3s;
}

.menu a:hover,
.menu i:hover {
	color: #007FFF;
	transition: color ease 0.3s;
}

.refresh {
	margin-left: 20px;
}

.refresh i {
	font-size: 30px;
}

.refresh .update-mpd-library {
	padding: 20px 0 20px 15px; 
}

.refresh .update-mpd-library:hover {
	cursor: pointer;
}

.refresh .update-spinner {
	margin: 20px 0 20px 15px;
	color: #007FFF;
}

/* __________ Library __________*/

#f {
	color: #8D8C8C;
	box-shadow: 0px 0px 3px #0A0A0A;
}

#library, #playlist {
	margin: 5vh 0;
	height: 90vh;
}
#library {
	border-right: 2px solid #8D8C8C;
}

#library #title, 
#playlist #title {
	color: #FFF;
	letter-spacing: 1px;
	height: 5vh;
	font-size: 5vh;
	margin-top: 2vh;
	margin-bottom: 1vh;
}

#title i {
	margin-left: 0.7em;
	transition: ease all 0.3s;
}

#title i:hover {
	color: #007FFF;
	transition: ease all 0.3s;
}

.library-search-container {
	margin: 0.5em 0;
}

.playlist-delete {
	height: 5.5vh;
}

.library-dir-up:hover,
.playlist-delete:hover {
	background: #1489FF;
}

.playlist-info,
.library-info {
	height: 77vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	letter-spacing: 0.1px;
	overflow: none;
}

.music-library-1,
.playlist-item {
	padding: 0 0.5em;
}

.music-library-1:hover,
.playlist-item:hover {
	cursor: pointer;
	background: #030202;
	color: #007FFF;
}

.playlist-item {

}

.playlist-item i {
	font-size: 12px;
}

/*__________ Settings __________*/

#e {
	background: #555555;
	box-shadow: inset 0px 0px 3px #0A0A0A;
}

