.control{
	font-size: 30px;
	color: #67809F;
	padding: 20px 20px 20px 20px;
	margin: 0px 10px 0px 10px;
	display: inline-block;

}

.menu-icon{
	padding-left: 15px;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#headerwrap{
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}

.tooltip{
	letter-spacing: 0px;	
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.volume-holder{
	margin-left: auto;
	margin-right: auto;
	display:inline-block;
}

.player-container{
	background: rgba(0,0,0, 0.8);
	min-width: 100vw;
	min-height: 100vh;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.library-control{
	
	
	font-size: 12px;
}

.icon-play-options{
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.play-options{
	color: #67809F;
	padding-top:20px;
}

.nav-down{
	
	color:#CCCCCC;
	font-size: 30px;
	padding-top: 80px;
}

.playlist-button{
	
	font-size: 12px;
}

div.music-library-2{
	vertical-align: top;
	width: auto;
}

div.music-library-icon{
	float: left;
	min-width: 30px;
	flex: 0.15;
}

.music-item, .music-library-1{
	 display: flex;
}

.music-library-2{
	flex:1;
}



.song-info{
	color: #526374;
}

@media only screen and (max-width: 768px){
	.audio-devices-select{
		margin-left: 20px;
		max-width: 85vw;	
	}
	
	.update-audio-devices{
		margin-left: 20px;
	}
}
#headerwrap h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 800;
	
}

#headerwrap h2 {
	font-size: 30px;
	font-weight: 300;
	color: #34495E;
}

.update-audio-devices, .set-audio-devices{
	margin-top: 10px;
}

.song-info {
  border: 0px solid #ccc;
}

.song-info-holder{
	min-height: 5vh;
	max-height: 15vh;
}

.library-info, .playlist-info{
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 85vh;
	font-size: 20px;
}

#library, #playlist {
	margin-bottom: 70px;
}

.mpd-bar{
	background-color: #34495E;
	border-radius: 20px;
}

@media only screen and (max-device-width: 768px){
	div.progress{
		margin: 0px 20px 0px 20px;
		background-color: #2C3E50;
		border-radius: 22px;
	}

}
@media only screen and (min-device-width: 768px){
	div.progress{
		border-radius: 22px;
		margin: 0px 80px 0px 80px;
		background-color: #2C3E50;
	}	
}


#f{
	height:auto;
}

.ui-volume-off{
	display: inline-block;
	padding-right: 5px;
}

.library-search-container{
	display: none;	
}

.ui-volume-up{
	
	float: inline-block;
}
.control, .music-library-1, .library-dir-up, .playlist-delete, .icon-play-options,.library-search-hide, .progress {
	 cursor: pointer;
}

.music-library-1:hover, .library-dir-up:hover,  .playlist-delete:hover{
	 background-color: #333333;
	 
}


.control:hover{
	color: #887C54;
}
