
@media (max-width: 1171px) {
	
	#library {
		border-right: none;
		border-bottom: solid 2px #8d8c8c;
		padding-bottom: 5vh;
		margin: 5vh;
    	padding-left: 0;
    	padding-right: 0;
	}
	
	#library, #playlist,
	.library-info, .playlist-info {
	}
		
}

@media (max-width: 480px) {
	
	.library-info, .playlist-info {
		font-size: 16px;
	}
	
}
